[submodule "3rd_party/patchcore"]
	path = 3rd_party/patchcore
	url = https://github.com/amazon-science/patchcore-inspection.git
[submodule "3rd_party/vis_defects_timimg_anomalies"]
	path = 3rd_party/vis_defects_timimg_anomalies
	url = https://github.com/speculum-factorem/visual_defect_timing_anomaly.git
